<div class="container col-xs-3 col-md-3 card">
  <div class="card-body">
    <%= form_for :session, url: '/sign_in', method: :post do |f| %>
        <div class="form-group">
          <%= f.label :email %>
          <%= f.text_field :email, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :password %>
          <%= f.password_field :password, class: 'form-control' %>
        </div>

        <%= submit_tag "Sign in to Squawk", class: 'btn btn-success btn-block' %>

    <% end %>
  </div>
</div>
