<div class="container" data-chatroom=<%= @chatroom.id %>>
  <div class="row">
    <div class="col-md-12 col-md-offset-2">
      <h1><%= @chatroom.slug %></h1>

      <h5>Room topic: <%= @chatroom.topic %></h5>

      <div class="card">
        <% if @chatroom.messages.any? %>
          <div class="card-body" id="messages">
            <%= render partial: 'messages/message', collection: @messages%>
          </div>
        <%else%>
          <div class="card-body hidden" id="messages">
          </div>
        <%end%>
      </div>
      <hr>
      <%= render partial: 'messages/message_form', locals: {message: @message, chatroom: @chatroom}%>
    </div>
  </div>
</div>
